div, p {
  font-family: "Agency FB";
  color: #FFFFFF;
  text-shadow: -1px 0px 4px #217AA2, 0px -1px 4px #217AA2, 1px 0px 4px #217AA2, 1px 0px 4px #217AA2;
}

p {
  width: 350px;
  font-size: 20px;
  padding: 0px 20px 20px 130px;
  animation: opacity 11s;
  animation-delay: 3.5s;
  opacity: 0;
}

div {
  font-size: 30px;
  padding-top: 250px;
}

.rotate {
  transform:rotateY(180deg);
}

.highlight {
  color: #56CCB0;
  font-weight: bold;
}

.text {
  position: absolute;
  left: 100px;
  top: 200px;
  opacity: 0;
  animation: movop 10s;
  animation-delay: 3.5s;
  animation-timing-function: cubic-bezier(.1,.7,.3,.3);
}

.caitsithText {
  position: absolute;
  left: 140px;
  top: 230px;
  opacity: 0;
  animation: opacity 10s;
  animation-delay: 3.5s;
}

.aerithlbImg {
  position: absolute;
  top: -60px;
}

.aerithlbText {
  left: 140px;
  top: 250px;
  opacity: 0;
  animation: opacity 10s;
  animation-delay: 3.5s;
}

@keyframes movop {
  10% {opacity: 1;}
  81% {opacity: 1; left: 145px; top: 200px; transform: scaley(1);}
  83% {opacity: 0; top: 325px; transform: scaley(0.05);}
  100% {left: 145px;}
}

@keyframes opacity {
  10% {opacity: 1;}
  84% {opacity: 1;}
}
