div, p {
  font-family: "Agency FB";
  color: #FFFFFF;
  text-shadow: -1px 0px 4px #217AA2, 0px -1px 4px #217AA2, 1px 0px 4px #217AA2, 1px 0px 4px #217AA2;
}

p {
  width: 350px;
  font-size: 20px;
  padding: 0px 20px 20px 130px;
  animation: opacity 11s;
  animation-delay: 3.5s;
  opacity: 0;
}

div {
  font-size: 30px;
  padding-top: 30px;
}

.rotate {
  transform:rotateY(180deg);
}

.highlight {
  color: #56CCB0;
  font-weight: bold;
}

.text {
  position: absolute;
  left: 130px;
  top: 30px;
  opacity: 0;
  animation: movop 10s;
  animation-delay: 3.5s;
}

@keyframes movop {
  10% {opacity: 1; left: 130px;}
  81% {opacity: 1; left: 145px; top: 30px; transform: scaley(1);}
  84% {opacity: 0; left: 146px; top: 45px; transform: scaley(0.05);}
}

@keyframes opacity {
  10% {opacity: 1;}
  84% {opacity: 1;}
}
